
<div class="background">
	<div class="flex">
		<div class="flex-left">
			<%= render "users/userinfo", user: @user %>
			<%= render "codes/new", code: @code %>
		</div>
		<div class="flex-rigth">
			<% @codes.each do |code| %>
				<div class="posts">
					<div class="post-images">
						<%= attachment_image_tag code, :post_image, :fill, 225, 300, fallback:"closet_image.jpg", size:"225x300" %>
					</div>
					<div class="post-items">
						<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60', class: "image-circle" %>
						<%= @user.name %>
						<br>
						<%= code.category %>
						<br>
						<div class="textbox">
							<%= code.text %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

