<!DOCTYPE html>
<html>
  <head>
    <title>Closet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div><img src="assets/closet_logo.png" class="logo"></div>
      <div><%= link_to 'Home', codes_path %></div>
      <div><%= link_to 'My Page', user_path(current_user) %></div>
      <div><%= link_to 'Logout', destroy_user_session_path, method: :delete %></div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
